
<div class="container" style="text-align:center">
  <h3 i18n>
    Welcome to {{ title }}!
  </h3>

<div class="row">
    <div class="col-xs-4" style="text-align:center" id="linkStyle">
        <a i18n class="nav-link" routerLink='/search' routerLinkActive="active">Search</a> 
    </div>
    <div class="col-xs-4" style="text-align:center" id="linkStyle">
        <a  i18n class="nav-link" routerLink='/schedule' routerLinkActive="active">Schedule</a> 
    </div>
    <div class="col-xs-4" style="text-align:center" id="linkStyle">
        <a i18n class="nav-link" routerLink='/about' routerLinkActive="active">About</a>
    </div>

</div>
  </div>
<router-outlet></router-outlet>

